.top-section {
  overflow: hidden;
  padding: 30px 0 22px;
  position: relative;
}
.top-section .logo img {
  float: left;
  margin-left: 10px;
  width: 200px;
  z-index: 0;
  position: relative;
}
.top-section .title {
  position: absolute;
  width: 350px;
  height: 350px;
  right: 50px;
  top: -125px;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
  background-color: #42ab65;
}
.top-section .title h1 {
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
.navbar {
  position: relative;
  max-height: 45px;
  margin-bottom: 0;
  border: none;
}
.navbar-default {
  background-color: #0f0e9f;
  border-radius: 0;
}
.holder {
  max-width: 1083px;
  margin: 0 auto;
}
.nav {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  font-family: "Nunito", Arial, Helvetica, "sans-serif";
}
.navbar-default .navbar-nav li a {
  color: #fff;
  border-radius: 0;
  height: 50px;
}
.navbar-default .navbar-nav li a:hover {
  color: #0f0e9f;
  background-color: #fff;
}
main {
  background: #e9e9f6;
}
main .holder {
  background: #fff;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, .15);
  height: 1000px;
}
footer {
  border-top: 18px solid #0f0e9f;
  background: #fff;
}
footer .holder {
  padding: 31px 67px 134px;
  text-align: center;
}
footer .wrap {
  display: inline-block;
  vertical-align: bottom;
  letter-spacing: 0;
  font-family: Arial, Helvetica, "sans-serif";
  width: 88%;
}
footer .wrap .copyright a {
  color: #7a0026;
  text-transform: uppercase;
  font-weight: bold;
}
